<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Live Chat Vue</title>
	<link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
	<div class="col-md-2 lang-dropdown" id="app"> 
    <div id="livechat">
      <a href="javascript:void(0)" v-on:click="liveChatOnClick()"><img src="img/livechat.png" >Live Chat</a>
      <a href="javascript:void(0)" v-on:click="liveChatClear()">Close</a>
      <div id="livechatBox">
        <div id="livechatTextBox">
          <ul>
            <li v-for="r in result">{{ r.user }} : {{ r.text }}</li>
          </ul>
        </div>
        <textarea name="text" placeholder="Type the message " id="livechatMessageBox" v-model="data.text"> </textarea><button type="button" name=""  v-on:click="liveChatSubmit">Submit</button>
      </div>
    </div>
  </div>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js"></script>
    
<script>
  var app = new Vue({
      el: '#app',
      data: {
            session_id : "",
            salt_key : "",  
            result : [{
              user : "",
              text : ""
            }],
            data : {
              user : "ko ko",
              text : ""
            },
            start : null
      },
      methods: {
         serviceProvider : function() {
            var data = {user : "" , text : ""};
            this.$http.get('http://localhost/projects/livechat-vue/php/fetch.php', data ).then(response => {
              // get body data
              if(response.body != null) {
                this.result = response.body.data;
              }
              
            }, response => {
              // error callback
            });
         },
         liveChatOnClick: function() {
            this.start = window.setInterval(() => {
              this.serviceProvider()
            },1500);
            document.getElementById('livechatBox').style.display = "block";
         },
         liveChatClear: function() {
            window.clearInterval(this.start);
            document.getElementById('livechatBox').style.display = "none";
         },
         liveChatSubmit: function() {
            var data = { user : this.data.user , text : this.data.text };
            this.$http.post('http://localhost/projects/livechat-vue/php/fetch.php', data ,  {
               emulateJSON: true
            }).then(response => {
              this.result = response.body.data;
              this.text = ""
            }, response => {

            });
         }
      },
      mounted() { 
      }
  });
</script>
</body>
</html>